.title {
  margin: 50px 0;
  font-size: 48px;
  text-align: center;
  font-family: Lobster;
  color: red;
}

.cardContainer {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.card {
  background-color: #ffffff;
  border: 1px solid red;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  transition: transform 0.2s, box-shadow 0.2s;
  overflow: auto;
}

.card::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

.card h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: red;
}

.card p {
  font-size: 1rem;
  color: #666666;
  line-height: 1.5;
}

.card img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}


.loading {
  font-size: 1.2rem;
  color: #333333;
  text-align: center;
  margin-top: 20px;
}

.error {
  font-size: 1.2rem;
  color: #ff0000;
  text-align: center;
  margin-top: 20px;
}
