.beanCard {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}

.beanImage {
  width: 500px;
  border-radius: 10px;
  margin-bottom: 20px auto;
}

.beanCard h1 {
  font-size: 2rem;
  color: #996e6e;
  margin-bottom: 10px;
}

.beanCard p {
  font-size: 1rem;
  color: #996e6e;
  line-height: 1.5;
}
